*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;

}

.Landing_image{
    position: relative;
    width: 1500px;
    height: 1200px;
}

.navbar{
    background-color: rgb(109, 24, 24);
}

.navbar .h_text {
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;

}

.navbar .main_Name{
    justify-content: space-between;
    padding: 10px;
    display: flex;
    position: sticky;
    padding: 20px;
    background-color: rgb(109, 24, 24);
}

.main_Name {
    color: white;
    padding: 5px;
    
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    display: flex;
    background-color: red;
}

.footer_text {
    margin: 100px 0 0 0;
    color: white;
}

a {
    color: white;
}

main {
    display: flex;
    margin: 20px;
}

.navData{
    color: white;
    text-decoration: none;
}
.navData:hover{
    cursor: pointer;
    color: black;
}